@{
    ViewData["Title"] = "Perfil";
}

<div class="container mt-4">
    <h2>👤 Perfil</h2>

    <div class="card mt-3">
        <div class="card-body">
            <p><b>UserId:</b> @ViewBag.UserId</p>
            <p><b>Email:</b> @ViewBag.Email</p>
        </div>
    </div>
</div>
<a class="btn btn-danger mt-3"
   asp-controller="Account" asp-action="Logout">
    Salir
</a>
